@page
@model TestBank.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Login</title>
</head>
<body>
    <div class="d-flex align-content-center justify-content-center" style="margin-top:20%">
        <div class="login_form">
            <form method="post" asp-page="Login">
                <input class="form-control" asp-for="Login" placeholder="Логин">
                <input class="form-control" asp-for="Password" type="password" placeholder="Пароль">
                <button class="btn btn-primary btn-block" type="submit">ОК</button>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>



</html>
